NodeRedFlow-WatsonEventBuddy.json
[{"id":"29c0d8df.430cf8","type":"tab","label":"TicketBuddy Flow","disabled":false,"info":""},{"id":"33582b9a.66bed4","type":"http in","z":"29c0d8df.430cf8","name":"Request","url":"/api/message","method":"post","upload":false,"swaggerDoc":"","x":60,"y":60,"wires":[["dc10ff3c.198d1"]]},{"id":"dc10ff3c.198d1","type":"function","z":"29c0d8df.430cf8","name":"Prep Input Message","func":"if(msg.payload.input){\n    if(msg.payload.input.text){\n        msg.payload = msg.payload.input.text;\n        \n    }else{\n        msg.payload = \"Hi\";\n    }\n}\nelse{\n    msg.payload = \"Hi\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":140,"wires":[["3ebb9cb0.425734"]]},{"id":"3ebb9cb0.425734","type":"watson-conversation-v1","z":"29c0d8df.430cf8","name":"WCS - CONVO","workspaceid":"620c7dd4-efee-4628-b424-08b82146ede4","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":320,"y":140,"wires":[["8eee50f4.9576f"]]},{"id":"8f86d9ab.facce8","type":"http response","z":"29c0d8df.430cf8","name":"","statusCode":"","headers":{},"x":397,"y":348,"wires":[]},{"id":"e8965168.bb2938","type":"switch","z":"29c0d8df.430cf8","name":"What action","property":"convdata.output.action","propertyType":"msg","rules":[{"t":"eq","v":"MLoutput","vt":"str"},{"t":"eq","v":"ticketmaster","vt":"str"},{"t":"eq","v":"textUser","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":650,"y":140,"wires":[["21332115.48ecee","516d0795.60552"],["e52facd0.d9647","9d8b12e8.9d7ac"],["559aa548.e1e054"],["8f86d9ab.facce8","4397dad8.0a8214"]]},{"id":"21332115.48ecee","type":"function","z":"29c0d8df.430cf8","name":"Set Headers for Authorization - SparkML","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\n\nglobal.set(\"age\",parseInt(msg.payload.context.age));\nglobal.set(\"city\",msg.payload.context.city);\nglobal.set(\"gender\",msg.payload.context.gender);\nglobal.set(\"mstatus\",msg.payload.context.mstatus);\nglobal.set(\"profession\",msg.payload.context.profession);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":820,"y":60,"wires":[["2e46aba2.a45704"]]},{"id":"2e46aba2.a45704","type":"http request","z":"29c0d8df.430cf8","name":"WML - Get Auth Key - SparkML","method":"GET","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/identity/token","tls":"","x":1130,"y":60,"wires":[["4aac72c1.8395d4"]]},{"id":"7a00b76d.6c1328","type":"http request","z":"29c0d8df.430cf8","name":"WML - SparkML","method":"POST","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/wml_instances/df938587-8180-4fc7-86d2-e7f6f5e48709/published_models/041e0f5e-72a6-4039-8d0e-418c129d38e2/deployments/e991a5ff-58e1-4579-a3aa-818a67a330bd/online","tls":"","x":880,"y":120,"wires":[["13501516.7a0113"]]},{"id":"4aac72c1.8395d4","type":"function","z":"29c0d8df.430cf8","name":"Set Body and Headers for Score","func":"//customer_record = global.get(\"customer_record\");//\n//sign_up_reason = global.get(\"sign_up_reason\");\n    \nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + msg.payload.token;\n\n//Customer Record\n//fields = Object.keys(customer_record);\n\n//Customer record global may sometime have an \"input\" field. We don't want that.\n//if (fields.includes(\"input\")){\n//    fields = fields.filter(e => e !== \"input\");\n//}\n\n//values = [];\n//for (var k = 0; k < fields.length; k++){\n//    values.push(customer_record[fields[k]]);\n//}\n\n//Sign Up Reason\n//fields.push(\"SIGN_UP_REASON\");\n//values.push(sign_up_reason);\n\nmsg.payload = {\n  \"fields\": [\"AGE\", \"GENDER\", \"MARITAL_STATUS\", \"PROFESSION\", \"MARKET\"],\n  \"values\": [\n    \t\t\t[global.get(\"age\"), global.get(\"gender\"), global.get(\"mstatus\"), global.get(\"profession\"), global.get(\"city\")]\n            ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":60,"wires":[["7a00b76d.6c1328"]]},{"id":"13501516.7a0113","type":"function","z":"29c0d8df.430cf8","name":"Parse SparkML Output","func":"x = {};\n\nfor (i = 0; i < msg.payload.fields.length; i++){\n    x[msg.payload.fields[i]] = msg.payload.values[0][i]; \n}\n\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":120,"wires":[["5dfb4d97.956f2c"]]},{"id":"5dfb4d97.956f2c","type":"function","z":"29c0d8df.430cf8","name":"Combine ML Output with Conversation Response","func":"//Conversation Input\nif (msg.topic == \"conversation\"){\n    context.convo_response = msg.payload;\n} \n//ML Input\nelse{\n    context.ml_output = msg.payload;\n     //Saving output for later input into ticketmaster API call\n    global.set(\"MLEvent\",context.ml_output.nodeADP_class);\n}\n\n//Both inputs have arrived\nif (context.ml_output && context.convo_response){\n\n    msg.payload= context.convo_response.output.text[0] + \" \" + context.ml_output.nodeADP_class + \" event. Do you like it?\";\n    \n    //Clear for the next time through.    \n    context.ml_output = null;\n    context.convo_response = null;\n    \n} \n//Only one input has arrived. Do not pass along a message yet\nelse {\n    return null;\n}\nmsg.convdata.output.text[0]=msg.payload;\nmsg.payload=msg.convdata ;\n\nreturn msg;   \n\n","outputs":1,"noerr":0,"x":1430,"y":160,"wires":[["de517d15.963cb","5dc66eb6.93be38"]]},{"id":"516d0795.60552","type":"function","z":"29c0d8df.430cf8","name":"Keep Watson Conversation Information","func":"msg.topic = \"conversation\"\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":200,"wires":[["5dfb4d97.956f2c"]]},{"id":"8eee50f4.9576f","type":"function","z":"29c0d8df.430cf8","name":"After WCS","func":"conv_data = {};\nconv_data = msg.payload;\nmsg.convdata = conv_data;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["e8965168.bb2938"]]},{"id":"9d8b12e8.9d7ac","type":"function","z":"29c0d8df.430cf8","name":"Set headers for TicketMaster","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\n//Logic for assigning dmaID for a city for API call\ncity = msg.payload.context.city.toLowerCase();\nif(city ==\"chicago\"){\n    global.set(\"dmaID\", 249);\n}\nif (city == \"new york\"){\n    global.set(\"dmaID\", 345);\n}\n\n//Logic for arts classification for API call\nclassificationName = global.get(\"MLEvent\").toLowerCase();\nif (classificationName == \"arts\"){\n     global.set(\"MLEvent\",\"Arts & Theatre\");\n}\n\n//msg.payload={\n  //  \"dmaID\": [global.get(\"dmaID\")],\n    //\"classification\": [global.get(\"MLEvent\")]\n//}\n\nevent = global.get(\"MLEvent\");\ndmaID = global.get(\"dmaID\");\n\nmsg.payload= \"classificationName=\" + event + \"&dmaId=\" +dmaID+ \"&startDateTime=2017-12-01T00:00:00Z&endDateTime=2017-12-29T11:59:59Z&&apikey=KdQofIqGUEhAIR9p3rxjB4AffcTxAjCe\";\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":307,"wires":[["1ca7a1d0.c71cbe"]]},{"id":"1db088e2.2bf587","type":"http request","z":"29c0d8df.430cf8","name":"Ticketmaster API Call","method":"GET","ret":"obj","url":"https://app.ticketmaster.com/discovery/v2/events.json?{{{query}}}","tls":"","x":1398,"y":297,"wires":[["94b5cab6.260d88"]]},{"id":"94b5cab6.260d88","type":"function","z":"29c0d8df.430cf8","name":"Ticketmaster Output","func":"var x = [];\nfor (i = 0; i < 1; i++){\n    x.push(msg.payload._embedded.events[i])\n}\n\nmsg.payload = x;\n//msg.payload = msg.payload._embedded.events[0];\nticketOutput=msg.payload;\n\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1624,"y":298,"wires":[["5dc314aa.0679fc"]]},{"id":"de517d15.963cb","type":"http response","z":"29c0d8df.430cf8","name":"ML Response","statusCode":"","headers":{},"x":1776,"y":83,"wires":[]},{"id":"d255ee64.c15cb8","type":"http response","z":"29c0d8df.430cf8","name":"TicketMaster Response","statusCode":"200","headers":{},"x":1776,"y":349,"wires":[]},{"id":"e52facd0.d9647","type":"function","z":"29c0d8df.430cf8","name":"Keep Conversation ","func":"msg.topic = \"conversation\"\nreturn msg;","outputs":1,"noerr":0,"x":884,"y":369.25,"wires":[["5dc314aa.0679fc"]]},{"id":"5dc314aa.0679fc","type":"function","z":"29c0d8df.430cf8","name":"Combine Ticketmaster Output with Conversation Response","func":"//Conversation Input\nif (msg.topic == \"conversation\"){\n    context.convo_response = msg.payload;\n} \n//ML Input\nelse{\n    context.ticket_output = msg.payload;\n}\n\n//Both inputs have arrived\nif (context.ticket_output && context.convo_response){\n\n   \n    //msg.payload= context.convo_response.output.text[0] + \" \" + context.ticket_output\n    msg.payload= context.convo_response.output.text[0] + \": \"+ context.ticket_output[0].name +\". Want me to send you a link to purchase tickets?\";\n    \n    //save event URL\n    global.set(\"eventURL\",context.ticket_output[0].url)\n    \n    //Clear for the next time through.    \n    context.ticket_output = null;\n    context.convo_response = null;\n   \n} \n//Only one input has arrived. Do not pass along a message yet\nelse {\n    return null;\n}\n//This is needed because Watson Conversation looks for \"convdata\"\nmsg.convdata.output.text[0]=msg.payload;\nmsg.payload=msg.convdata;\nreturn msg;","outputs":1,"noerr":0,"x":1286,"y":370,"wires":[["d255ee64.c15cb8","af167e7c.b09498"]]},{"id":"1ca7a1d0.c71cbe","type":"change","z":"29c0d8df.430cf8","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1157,"y":257.75,"wires":[["1db088e2.2bf587"]]},{"id":"559aa548.e1e054","type":"function","z":"29c0d8df.430cf8","name":"Text User","func":"//getting the phone number user inputed in from App and saving as variable\nglobal.set(\"phoneNum\",msg.payload.context.phoneNum);\n\ncontext.convo_response = msg.payload;\nmsg.payload=context.convo_response.output.text[0];\n\nmsg.convdata.output.text[0]=msg.payload;\nmsg.payload=msg.convdata \n\nreturn msg;","outputs":1,"noerr":0,"x":840.5,"y":475.75,"wires":[["2785af07.aa71c8","992a56a.9f4e928","de6f7926.7125d"]]},{"id":"2785af07.aa71c8","type":"http response","z":"29c0d8df.430cf8","name":"","statusCode":"","headers":{},"x":1036.5,"y":450.5,"wires":[]},{"id":"992a56a.9f4e928","type":"function","z":"29c0d8df.430cf8","name":"Get Event URL Link to Text","func":"eventURL = global.get(\"eventURL\"),\nphoneNum = global.get(\"phoneNum\"),\nmsg.payload = eventURL;\nmsg.topic = \"+1\"+ phoneNum;\nreturn msg;","outputs":1,"noerr":0,"x":1086,"y":514.25,"wires":[["6cab5e5e.d4c77"]]},{"id":"6cab5e5e.d4c77","type":"twilio out","z":"29c0d8df.430cf8","service":"_ext_","twilio":"593bb9dd.f43e48","from":"","number":"","name":"Text User Event URL","x":1450.5,"y":511.5,"wires":[]},{"id":"26dc3863.d84a","type":"watson-text-to-speech","z":"29c0d8df.430cf8","name":"Text to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":310,"y":415.5,"wires":[["c8f14e0a.27f6e8"]]},{"id":"4397dad8.0a8214","type":"function","z":"29c0d8df.430cf8","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":130.5,"y":415.75,"wires":[["26dc3863.d84a"]]},{"id":"c8f14e0a.27f6e8","type":"function","z":"29c0d8df.430cf8","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":492.5,"y":422.75,"wires":[["39a1df15.addf78"]]},{"id":"39a1df15.addf78","type":"play audio","z":"29c0d8df.430cf8","name":"","voice":"0","x":663.5,"y":425.5,"wires":[]},{"id":"bc1bcdf1.f3f9b","type":"play audio","z":"29c0d8df.430cf8","name":"","voice":"0","x":2421.5,"y":182,"wires":[]},{"id":"60300960.e26a7","type":"function","z":"29c0d8df.430cf8","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":2165.5,"y":182,"wires":[["bc1bcdf1.f3f9b"]]},{"id":"ac54703a.27c6b8","type":"watson-text-to-speech","z":"29c0d8df.430cf8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1960.5,"y":179,"wires":[["60300960.e26a7"]]},{"id":"5dc66eb6.93be38","type":"function","z":"29c0d8df.430cf8","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":1768,"y":175,"wires":[["ac54703a.27c6b8"]]},{"id":"af167e7c.b09498","type":"function","z":"29c0d8df.430cf8","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":1746.5,"y":415,"wires":[["2047d3bd.422984"]]},{"id":"2047d3bd.422984","type":"watson-text-to-speech","z":"29c0d8df.430cf8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1940.5,"y":416,"wires":[["5545862a.5d8ca"]]},{"id":"5545862a.5d8ca","type":"function","z":"29c0d8df.430cf8","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":2125.5,"y":417,"wires":[["e5aa5ef8.4a4438"]]},{"id":"e5aa5ef8.4a4438","type":"play audio","z":"29c0d8df.430cf8","name":"","voice":"0","x":2346.5,"y":417,"wires":[]},{"id":"de6f7926.7125d","type":"function","z":"29c0d8df.430cf8","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":965,"y":582,"wires":[["4e8499a1.6d0898"]]},{"id":"4e8499a1.6d0898","type":"watson-text-to-speech","z":"29c0d8df.430cf8","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1163,"y":581,"wires":[["25010f24.0174e"]]},{"id":"25010f24.0174e","type":"function","z":"29c0d8df.430cf8","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1387.5,"y":581,"wires":[["10d36b98.f3195c"]]},{"id":"10d36b98.f3195c","type":"play audio","z":"29c0d8df.430cf8","name":"","voice":"0","x":1606,"y":579.5,"wires":[]},{"id":"593bb9dd.f43e48","type":"twilio-api","z":"","sid":"AC1bcbf396814a32e4c5e7660fa6ae88e4","from":"+18045063069","name":"Twillo Account"}]