docs/EventBuddy-NodeRedFlow.json
[{"id":"e6fcbbb7.244938","type":"tab","label":"TicketBuddy Flow","disabled":false,"info":""},{"id":"cddd7b6b.f2b1a","type":"http in","z":"e6fcbbb7.244938","name":"Request","url":"/api/message","method":"post","upload":false,"swaggerDoc":"","x":60,"y":60,"wires":[["f3cba922.a9e71"]]},{"id":"f3cba922.a9e71","type":"function","z":"e6fcbbb7.244938","name":"Prep Input Message","func":"//kicks off WCS\nif(msg.payload.input){\n    if(msg.payload.input.text){\n        msg.payload = msg.payload.input.text;\n        \n    }else{\n        msg.payload = \"Hi\";\n    }\n}\nelse{\n    msg.payload = \"Hi\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":140,"wires":[["6f9f39b5.e26b2"]]},{"id":"6f9f39b5.e26b2","type":"watson-conversation-v1","z":"e6fcbbb7.244938","name":"WCS - CONVO","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":320,"y":140,"wires":[["bd4ea0bc.6ad4d8"]]},{"id":"d23ab45d.426c3","type":"http response","z":"e6fcbbb7.244938","name":"","statusCode":"","headers":{},"x":397,"y":348,"wires":[]},{"id":"aa3501aa.9e393","type":"switch","z":"e6fcbbb7.244938","name":"What action","property":"convdata.output.action","propertyType":"msg","rules":[{"t":"eq","v":"MLoutput","vt":"str"},{"t":"eq","v":"ticketmaster","vt":"str"},{"t":"eq","v":"textUser","vt":"str"},{"t":"else"}],"checkall":"false","outputs":4,"x":650,"y":140,"wires":[["b559301.c19d9d","efe3e385.0104a"],["df9fadb0.d4902","9209db12.1af238"],["b9efee22.c420c"],["d23ab45d.426c3","a93894b6.d41d68"]]},{"id":"b559301.c19d9d","type":"function","z":"e6fcbbb7.244938","name":"Set Headers for Authorization - SparkML","func":"//Setting headers for ML Authorization\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\n//Setting variables based upon user's input\nglobal.set(\"age\",parseInt(msg.payload.context.age));\nglobal.set(\"city\",msg.payload.context.city);\nglobal.set(\"gender\",msg.payload.context.gender);\nglobal.set(\"mstatus\",msg.payload.context.mstatus);\nglobal.set(\"profession\",msg.payload.context.profession);\nreturn msg;\n\n","outputs":1,"noerr":0,"x":820,"y":60,"wires":[["37addb6c.79d41c"]]},{"id":"37addb6c.79d41c","type":"http request","z":"e6fcbbb7.244938","name":"WML - Get Auth Key - SparkML","method":"GET","ret":"obj","url":"https://ibm-watson-ml.mybluemix.net/v3/identity/token","tls":"","x":1130,"y":60,"wires":[["19c6dae1.b8eb1d"]]},{"id":"a8630508.a2ed2","type":"http request","z":"e6fcbbb7.244938","name":"WML - SparkML","method":"POST","ret":"obj","url":"","tls":"","x":880,"y":120,"wires":[["e3b91349.1375e"]]},{"id":"19c6dae1.b8eb1d","type":"function","z":"e6fcbbb7.244938","name":"Set Body and Headers for Score","func":"//authentication needed for ML Service\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + msg.payload.token;\n\n//passing variables into the ML model. The model will predict what type of event (sports, arts, music etc) the user will like\nmsg.payload = {\n  \"fields\": [\"AGE\", \"GENDER\", \"MARITAL_STATUS\", \"PROFESSION\", \"MARKET\"],\n  \"values\": [\n    \t\t\t[global.get(\"age\"), global.get(\"gender\"), global.get(\"mstatus\"), global.get(\"profession\"), global.get(\"city\")]\n            ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":60,"wires":[["a8630508.a2ed2"]]},{"id":"e3b91349.1375e","type":"function","z":"e6fcbbb7.244938","name":"Parse SparkML Output","func":"//parsing output from ML Model\nx = {};\n\nfor (i = 0; i < msg.payload.fields.length; i++){\n    x[msg.payload.fields[i]] = msg.payload.values[0][i]; \n}\n\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":120,"wires":[["785de1b7.9caca"]]},{"id":"785de1b7.9caca","type":"function","z":"e6fcbbb7.244938","name":"Combine ML Output with Conversation Response","func":"//Conversation Input\nif (msg.topic == \"conversation\"){\n    context.convo_response = msg.payload;\n} \n//ML Input\nelse{\n    context.ml_output = msg.payload;\n     //Saving output for later input into ticketmaster API call\n    global.set(\"MLEvent\",context.ml_output.nodeADP_class);\n}\n\n//Both inputs have arrived\nif (context.ml_output && context.convo_response){\n\n    msg.payload= context.convo_response.output.text[0] + \" \" + context.ml_output.nodeADP_class + \" event. Do you like it?\";\n    \n    //Clear for the next time through.    \n    context.ml_output = null;\n    context.convo_response = null;\n    \n} \n//Only one input has arrived. Do not pass along a message yet\nelse {\n    return null;\n}\nmsg.convdata.output.text[0]=msg.payload;\nmsg.payload=msg.convdata ;\n\nreturn msg;   \n\n","outputs":1,"noerr":0,"x":1430,"y":160,"wires":[["720452d.fa76d2c","fda558dd.be20b"]]},{"id":"efe3e385.0104a","type":"function","z":"e6fcbbb7.244938","name":"Keep Watson Conversation Information","func":"msg.topic = \"conversation\"\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":200,"wires":[["785de1b7.9caca"]]},{"id":"bd4ea0bc.6ad4d8","type":"function","z":"e6fcbbb7.244938","name":"After WCS","func":"conv_data = {};\nconv_data = msg.payload;\nmsg.convdata = conv_data;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":140,"wires":[["aa3501aa.9e393"]]},{"id":"9209db12.1af238","type":"function","z":"e6fcbbb7.244938","name":"Set headers for TicketMaster","func":"apikey=\"<Input Your API Key>\";\n\nmsg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\n\n//Logic for assigning dmaID for a city for Ticketmaster API call\ncity = msg.payload.context.city.toLowerCase();\nif(city ==\"chicago\"){\n    global.set(\"dmaID\", 249);\n}\nif (city == \"new york\"){\n    global.set(\"dmaID\", 345);\n}\n\n//Logic for arts classification for API call\nclassificationName = global.get(\"MLEvent\").toLowerCase();\nif (classificationName == \"arts\"){\n     global.set(\"MLEvent\",\"Arts & Theatre\");\n}\n\nevent = global.get(\"MLEvent\");\ndmaID = global.get(\"dmaID\");\n\nmsg.payload= \"classificationName=\" + event + \"&dmaId=\" +dmaID+ \"&startDateTime=2018-02-14T00:00:00Z&endDateTime=2018-12-29T11:59:59Z&&apikey=\"+apikey;\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":307,"wires":[["a18e6b75.45b568"]]},{"id":"32aa1a6e.62788e","type":"http request","z":"e6fcbbb7.244938","name":"Ticketmaster API Call","method":"GET","ret":"obj","url":"https://app.ticketmaster.com/discovery/v2/events.json?{{{query}}}","tls":"","x":1398,"y":297,"wires":[["6fbe620f.d11f9c"]]},{"id":"6fbe620f.d11f9c","type":"function","z":"e6fcbbb7.244938","name":"Ticketmaster Output","func":"//parsing list of events from Ticketmaster. Only saving 1st event that is returned\nvar x = [];\nfor (i = 0; i < 1; i++){\n    x.push(msg.payload._embedded.events[i])\n}\n\nmsg.payload = x;\nticketOutput=msg.payload;\n\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"x":1624,"y":298,"wires":[["24c4a208.c7d246"]]},{"id":"720452d.fa76d2c","type":"http response","z":"e6fcbbb7.244938","name":"ML Response","statusCode":"","headers":{},"x":1776,"y":83,"wires":[]},{"id":"7cd3597b.837b9","type":"http response","z":"e6fcbbb7.244938","name":"TicketMaster Response","statusCode":"200","headers":{},"x":1776,"y":349,"wires":[]},{"id":"df9fadb0.d4902","type":"function","z":"e6fcbbb7.244938","name":"Keep Conversation ","func":"msg.topic = \"conversation\"\nreturn msg;","outputs":1,"noerr":0,"x":884,"y":369.25,"wires":[["24c4a208.c7d246"]]},{"id":"24c4a208.c7d246","type":"function","z":"e6fcbbb7.244938","name":"Combine Ticketmaster Output with Conversation Response","func":"//Conversation Input\nif (msg.topic == \"conversation\"){\n    context.convo_response = msg.payload;\n} \n//ML Input\nelse{\n    context.ticket_output = msg.payload;\n}\n\n//Both inputs have arrived\nif (context.ticket_output && context.convo_response){\n\n   \n    //msg.payload= context.convo_response.output.text[0] + \" \" + context.ticket_output\n    msg.payload= context.convo_response.output.text[0] + \": \"+ context.ticket_output[0].name +\". Want me to send you a link to purchase tickets?\";\n    \n    //save event URL\n    global.set(\"eventURL\",context.ticket_output[0].url)\n    \n    //Clear for the next time through.    \n    context.ticket_output = null;\n    context.convo_response = null;\n   \n} \n//Only one input has arrived. Do not pass along a message yet\nelse {\n    return null;\n}\n//This is needed because Watson Conversation looks for \"convdata\"\nmsg.convdata.output.text[0]=msg.payload;\nmsg.payload=msg.convdata;\nreturn msg;","outputs":1,"noerr":0,"x":1286,"y":370,"wires":[["7cd3597b.837b9","538e766d.2c24f8"]]},{"id":"a18e6b75.45b568","type":"change","z":"e6fcbbb7.244938","name":"","rules":[{"t":"set","p":"query","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1157,"y":257.75,"wires":[["32aa1a6e.62788e"]]},{"id":"b9efee22.c420c","type":"function","z":"e6fcbbb7.244938","name":"Text User","func":"//getting the phone number user inputed in from WCS and saving as variable\nglobal.set(\"phoneNum\",msg.payload.context.phoneNum);\n\ncontext.convo_response = msg.payload;\nmsg.payload=context.convo_response.output.text[0];\n\nmsg.convdata.output.text[0]=msg.payload;\nmsg.payload=msg.convdata \n\nreturn msg;","outputs":1,"noerr":0,"x":840.5,"y":475.75,"wires":[["52754ada.b9cf0c","a8784a55.1710d8","fad33f4b.d34048"]]},{"id":"52754ada.b9cf0c","type":"http response","z":"e6fcbbb7.244938","name":"","statusCode":"","headers":{},"x":1036.5,"y":450.5,"wires":[]},{"id":"a8784a55.1710d8","type":"function","z":"e6fcbbb7.244938","name":"Get Event URL Link to Text","func":"eventURL = global.get(\"eventURL\"),\nphoneNum = global.get(\"phoneNum\"),\nmsg.payload = eventURL;\nmsg.topic = \"+1\"+ phoneNum;\nreturn msg;","outputs":1,"noerr":0,"x":1086,"y":514.25,"wires":[["c964635f.585bf8"]]},{"id":"c964635f.585bf8","type":"twilio out","z":"e6fcbbb7.244938","service":"_ext_","twilio":"","from":"","number":"","name":"Text User Event URL","x":1460.5,"y":503.5,"wires":[]},{"id":"8bfaed9.811d81","type":"watson-text-to-speech","z":"e6fcbbb7.244938","name":"Text to Speech","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":310,"y":415.5,"wires":[["d08defb.d2c1f1"]]},{"id":"a93894b6.d41d68","type":"function","z":"e6fcbbb7.244938","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":130.5,"y":415.75,"wires":[["8bfaed9.811d81"]]},{"id":"d08defb.d2c1f1","type":"function","z":"e6fcbbb7.244938","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":492.5,"y":422.75,"wires":[["7145aaf2.6df88c"]]},{"id":"fd141319.585718","type":"function","z":"e6fcbbb7.244938","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":2165.5,"y":182,"wires":[["4c9a7e23.2f25b8"]]},{"id":"6b4bfc88.6f9d34","type":"watson-text-to-speech","z":"e6fcbbb7.244938","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1960.5,"y":179,"wires":[["fd141319.585718"]]},{"id":"fda558dd.be20b","type":"function","z":"e6fcbbb7.244938","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":1768,"y":175,"wires":[["6b4bfc88.6f9d34"]]},{"id":"538e766d.2c24f8","type":"function","z":"e6fcbbb7.244938","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":1746.5,"y":415,"wires":[["c737e40d.97e46"]]},{"id":"c737e40d.97e46","type":"watson-text-to-speech","z":"e6fcbbb7.244938","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1940.5,"y":416,"wires":[["aca685ae.9105f8"]]},{"id":"aca685ae.9105f8","type":"function","z":"e6fcbbb7.244938","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":2125.5,"y":417,"wires":[["55df85dc.142584"]]},{"id":"fad33f4b.d34048","type":"function","z":"e6fcbbb7.244938","name":"Set payload ","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":965,"y":582,"wires":[["773be069.ad165"]]},{"id":"773be069.ad165","type":"watson-text-to-speech","z":"e6fcbbb7.244938","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1163,"y":581,"wires":[["a2160d51.c0417"]]},{"id":"a2160d51.c0417","type":"function","z":"e6fcbbb7.244938","name":"Set Payload","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1387.5,"y":581,"wires":[["5e67170b.f6a12"]]},{"id":"7145aaf2.6df88c","type":"play audio","z":"e6fcbbb7.244938","name":"","voice":"0","x":663.5,"y":425.5,"wires":[]},{"id":"4c9a7e23.2f25b8","type":"play audio","z":"e6fcbbb7.244938","name":"","voice":"0","x":2421.5,"y":182,"wires":[]},{"id":"55df85dc.142584","type":"play audio","z":"e6fcbbb7.244938","name":"","voice":"0","x":2346.5,"y":417,"wires":[]},{"id":"5e67170b.f6a12","type":"play audio","z":"e6fcbbb7.244938","name":"","voice":"0","x":1606,"y":579.5,"wires":[]}]